{% extends 'base.html.twig' %}

{% block picture %}
    <h1>Picture creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('picture') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
